In [1]:
from analysis_ultils import *
from datetime import datetime
from IPython.display import clear_output
import time

In [21]:
df = load_timestamps(r"D:\DATA\temp-rat-training\02_21_2023_12_08_54\linear_track_2023_02_21_17_55_46.csv")
arm_entries = df.loc[df.event.str.contains("arm")].copy()
arm_entries['trial_time'] = arm_entries.timestamp.diff().dt.total_seconds()
print(f"# of laps: {len(arm_entries)//2}")
print(f"time since last arm entry: {(datetime.now() - arm_entries.iloc[-1].timestamp).total_seconds():.3f} s")
print(f"time since start (min): {(datetime.now() - arm_entries.iloc[0].timestamp).total_seconds()/60:.3f} mins")
display(arm_entries.tail(10))

# of laps: 31
time since last arm entry: 657.047 s
time since start (min): 53.645 mins

                      timestamp          event   trial_time
1909 2023-02-21 18:12:42.705041  arm a correct    21.948662
1943 2023-02-21 18:13:08.785778  arm b correct    26.080737
1975 2023-02-21 18:13:29.158402  arm a correct    20.372624
2009 2023-02-21 18:13:47.078944  arm b correct    17.920542
2074 2023-02-21 18:35:39.463494  arm a correct  1312.384550
2112 2023-02-21 18:36:28.493818  arm b correct    49.030324
2141 2023-02-21 18:37:26.789219  arm a correct    58.295401
2180 2023-02-21 18:37:58.541593  arm b correct    31.752374
2209 2023-02-21 18:38:25.492104  arm a correct    26.950511
2245 2023-02-21 18:40:28.222215  arm b correct   122.730111

In [19]:
df

                      timestamp                      event
0    2023-02-21 17:57:15.061407                     beam11
1    2023-02-21 17:57:15.471635                     beam10
2    2023-02-21 17:57:15.646745                     beam11
3    2023-02-21 17:57:15.775878                      beam9
4    2023-02-21 17:57:15.842583                     beam11
...                         ...                        ...
2211 2023-02-21 18:38:25.896907  port juicer_valve1 closed
2212 2023-02-21 18:38:25.898895                     beam13
2213 2023-02-21 18:38:25.900886                     beam13
2214 2023-02-21 18:38:25.902877                     beam14
2215 2023-02-21 18:38:25.903874                     beam14

[2216 rows x 2 columns]