In [1]:
from analysis_ultils import *
from datetime import datetime
from IPython.display import clear_output
import time

In [13]:
df = load_timestamps(r"D:\DATA\temp-rat-training\02_16_2023_14_36_15\linear_track_2023_02_16_18_55_40.csv")
arm_entries = df.loc[df.event.str.contains("arm")].copy()
arm_entries['trial_time'] = arm_entries.timestamp.diff().dt.total_seconds()
print(f"# of laps: {len(arm_entries)//2}")
print(f"time since last arm entry: {(datetime.now() - arm_entries.iloc[-1].timestamp).total_seconds():.3f} s")
print(f"time since start (min): {(datetime.now() - arm_entries.iloc[0].timestamp).total_seconds()/60:.3f} mins")
display(arm_entries.tail(10))

# of laps: 55
time since last arm entry: 194.604 s
time since start (min): 44.926 mins

                      timestamp          event  trial_time
3605 2023-02-16 19:15:18.172907  arm b correct   10.803835
3635 2023-02-16 19:15:31.660148  arm a correct   13.487241
3672 2023-02-16 19:16:14.783621  arm b correct   43.123473
3707 2023-02-16 19:16:39.204767  arm a correct   24.421146
3740 2023-02-16 19:17:00.007753  arm b correct   20.802986
3774 2023-02-16 19:17:19.385082  arm a correct   19.377329
3808 2023-02-16 19:32:16.849668  arm b correct  897.464586
3886 2023-02-16 19:35:17.701720  arm a correct  180.852052
3925 2023-02-16 19:35:46.068870  arm b correct   28.367150
3962 2023-02-16 19:37:42.635104  arm a correct  116.566234